[submodule "third_party/esmini"]
	path = third_party/esmini
	url = https://github.com/esmini/esmini

[submodule "third_party/lanelet2"]
	path = third_party/lanelet2
	url = https://github.com/fzi-forschungszentrum-informatik/Lanelet2.git
	branch = master
